.assignmentTile {
  width: 210px;

  .header {
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .locked {
      background-color: #cf2b4e;
    }

    .unlocked {
      background-color: #01a97e;
    }
  }

  .content {
    height: 180px;
    background-color: #faf9f7;
    border: solid 1px #edece9;
  }
}
